<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/stayl.css">
    <link rel="stylesheet" href="/css/bootstrap-rtl.css" />
        <link rel="stylesheet" href="/css/font-awesome.css" />
    <title><%- pageTitle %></title>
</head>
<body>


    <div class="d-flex align-items-center justify-content-center vh-100 bg-warning">
        <h1 class="display-1 fw-bold text-white">404</h1>
   
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>